@font-face {
    font-family: 'Oblivian Text';
    src: url('/fonts/OblivianText-Bold.woff2') format('woff2'),
         url('/fonts/OblivianText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  